**/.git
**/.gitignore
**/.vs
**/.vscode
**/node_modules
**/dist
**/.env
**/.env.local
**/.env.*.local
**/*.user
**/*.suo
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/README.md
**/LICENSE
**/coverage
**/.npm
**/.cache
